<h1>Acá es el index</h1>

<%= link_to "Crear un Producto", new_product_path, class:"new btn btn-primary btn-lg btn-block"%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <%@products.each do |product|%>
  <tbody>
    <tr>
      <td><%=product.id%></td>
      <td><%=product.name%></td>
      <td><%=product.price%></td>
      <td>categoría</td>
      <td><%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_product_path(product.id)%></td>
      <td><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, product, method: :delete, data: { confirm: "¿Estás seguro de eliminar este Producto?"}%></td>
    </tr>
  </tbody>
  <%end%>
</table>
